.navbar {
    padding: 100px;
}


main {
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    padding-right:100px;
text-align: center;

}
h1{
    padding-bottom:100px;
}
.name-class{
    font-size: larger;
}
.btn-custom{
    background-color: black;
    color: white;
    border-radius:0;
}

.btn-custom:hover {
    background-color:white;
    color:black;
}
.card {
    display: flex;
    flex-direction: column;
    margin-bottom:20px;
    min-height:300px;
    justify-content: space-between;
    min-width:500px;
    flex:1 0 30%;
    margin: 10px;
}
.card-body{
    display:flex;
    flex-direction:clumn;
    justify-content:space-between;
    flex-grow:1;
    padding:15px;
}


.row > .col-md-4 {
    margin-bottom: 30px;
}

.card-img-top {
    width:100%;
    height: auto;
    object-fit:cover;

    border-radius: 15px;
}
.col-md-4, .col-sm-6, .c0l-xs-12{
    padding:15px;
    display:flex;
    justify-content: center;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    display:flex;
    flex-wrap: wrap;
}


footer {
    padding-top: 150px;
    
}
.copyright-footer{
    padding-top: 150px;
    
}



img {
    max-width:100%;
    height:auto;
}
@media (max-width:576px){
    .card{
        margin-bottom:15px;
        min-height:200px;
        padding:10px;
    }
    .btn{
        font-size: 16px;
    }
}
@media (max-width:576px){
    .fa {
        font-size:1.5rem;
    }
}
@media (max-width:768px){
    .card{
       min-width: 100%;
       margin: 10px 0;
    }
}

.container{
    width:100%;
    max-width:100%;
}